<h1>Tweets#new</h1>
<p>
  <%= form_for :tweet,  html: { multipart: true }, url: tweets_path, method: :post do |f| %>
      <%= f.text_field :text %>
      <%= f.file_field :image %>
      <%= f.submit "Send Tweet", class: "btn btn-primary" %>
  <% end %>
  <% @tweets.each do |tweet| %>
    <p>
      <strong>Text:</strong>
      <%= tweet.text %>
    </p>
    <% unless tweet.image.thumb.url.nil? %>
    <p>
      <strong>Image:</strong>
      <%= image_tag tweet.image.thumb.url %>
    </p>
    <% end %>
  <% end %>
</p>